/* Import de la police Karla */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Définition des variables CSS (utilisables partout) */
:root {
  /* Primary Colors */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);

  /* Typography */
  --font-body: 'Karla', sans-serif;
  --font-size-label: 16px;
}

/* Application globale */
body {
  font-family: var(--font-body);
  font-size: var(--font-size-label);
  background-color: var(--green-200);
}
